@keyframes load{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: load 1s;
    background-image: url("img/espace.png");
    background-size: cover;
}

.active {
    background-color: #0f2238;
}

header {
    color: #BFA181;
    text-align: center;
    padding: 20px;
}
h2{
    text-align: center;
}
nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display:block;
    color: #BFA181;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

nav li a:hover {
    background-color: #2c2424;
    }
    
main {
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #BFA181;
    }
.indexMain{
    background: radial-gradient(#002b53,#06111a);
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}
section {
    margin-top: 50px;
    }
    
    
footer {
    background-color: #0b1d2d;
    color: #BFA181;
    text-align: center;
    padding: 10px;
    }
.boutondetail{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #BFA181;
    font-weight: 600;
    font-size: 15px;
    background-color: #000000;
    padding: 15px 50px;
    margin: 0 auto;
}
.boutondetail:hover{
    background-color: #2c2424;
}
.projets{
    display: flex;
    flex-direction: column;
}

.projet h3 {
        margin-top: 20px;
    }
    
.projet ul {
        margin: 0;
        padding: 0;
        margin-left: 50px;
        list-style: url('img/fusee.png');
    }
.projet {
    background: radial-gradient(#002b53,#06111a);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
        
.projet h2 {
        margin-top: 0;
    }
.avecpuce{
    list-style: url('img/fusee.png');
}
